@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url(../fonts/Roboto-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium';
  src: url(../fonts/Roboto-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal; }

.hero-wrapper .main-subtitle, .nav-list, .product-item, .product-link, .first-paraghraph,
.second-paraghraph {
  font-family: Roboto, sans-serif;
  letter-spacing: 0; }

.header-nav .header-nav-item,
.header-nav .header-nav-link, .quote-btn,
.mobile-nav-quote-btn, .hero-wrapper .main-heading, .mobile-nav-list, .products-title, .first-title,
.second-title,
.list-heading {
  font-family: robotobold, sans-serif;
  letter-spacing: 0; }

.hero-quote-btn {
  font-family: robotomedium, sans-serif;
  letter-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header-row {
  padding: 20px 0px; }

.header-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  height: 50px; }
  .header-nav .header-nav-item,
  .header-nav .header-nav-link {
    font-size: 14px;
    line-height: 16px; }
  .header-nav .header-nav-item,
  .header-nav .header-nav-link,
  .header-nav .header-nav-link:hover {
    color: #42415B; }
  .header-nav .header-nav-item {
    display: inline;
    padding-right: 10px; }
  .header-nav .header-nav-link {
    text-decoration: none;
    text-transform: uppercase; }

.quote-btn,
.mobile-nav-quote-btn {
  height: 50px;
  width: 160px;
  font-size: 14px;
  line-height: 20px; }

.hero-quote-btn {
  height: 60px;
  width: 200px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 64px;
  margin-bottom: 64px; }

.quote-btn,
.hero-quote-btn,
.mobile-nav-quote-btn {
  border-radius: 4px;
  background-color: #F1A153;
  color: #fff;
  border: none;
  text-transform: uppercase; }

.logo-placeholder {
  height: 40px;
  width: 116px; }

.ham-menu {
  padding: .25rem .75rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem; }

.navbar {
  padding: 0; }

.nav-container {
  background-color: #9CA2C6;
  height: 50px;
  padding: 0; }

.hero-wrapper {
  background: url("../images/hero-img.jpg");
  background-size: cover;
  background-position: center; }
  .hero-wrapper .main-heading {
    color: #fff;
    text-align: left;
    font-size: 66px;
    line-height: 80px;
    margin-top: 120px; }
  .hero-wrapper .main-subtitle {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin-top: 16px; }

.nav-list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  display: flex; }
  .nav-list .navbar-item {
    padding-inline-end: 92.5px; }
  .nav-list .navbar-item:last-child {
    padding-inline-end: 0; }
  .nav-list .navbar-link {
    color: #fff;
    text-decoration: none; }
  .nav-list .navbar-link:hover {
    color: #fff; }

.mobile-nav-list {
  list-style: none;
  color: #42415B;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase; }

.mobile-nav-item {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 16px; }

.mobile-nav-link {
  color: #42415B;
  text-decoration: none; }

.mobile-nav-link:hover {
  color: #42415B; }

.phone-icon,
.mobile-nav-phone-icon {
  width: 16px;
  height: 16px; }

.products-wrapper {
  background-color: #F3F3FF; }

.products-title {
  color: #42415B;
  font-size: 50px;
  line-height: 60px;
  text-align: center; }

.products-list {
  list-style: none;
  justify-content: space-between; }

.product-item {
  color: #42415B;
  padding: 26px;
  background-color: #fff;
  border: 1px solid #d5d8eb;
  height: 183px;
  width: 165px;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  margin-inline-end: 1.5vw; }

.product-item:hover {
  background-color: #BABDCF;
  color: #fff; }

.product-item:last-child {
  margin-inline-end: 0; }

.product-name {
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px; }

.check-list,
.products-links {
  list-style: none; }

.products-links {
  background-color: #F3F3FF;
  position: absolute;
  border-radius: 5px;
  margin-top: 11px;
  padding: 1.5rem;
  box-shadow: 8px 8px 8px #9ca2c6; }

.product-link {
  text-decoration: none;
  color: #42415B; }

.product-link:hover {
  color: #9CA2C6; }

#navbarDropdown {
  position: relative; }

#navbarNav {
  margin: 0 auto; }

.first,
.second,
.check-list {
  padding: 0 3rem; }

.first-title,
.second-title,
.list-heading {
  color: #42415B; }

.first-title {
  font-size: 38px;
  line-height: 48px; }

.second-title {
  font-size: 30px;
  line-height: 35px; }

.list-heading {
  font-size: 20px;
  line-height: 31px;
  text-align: left;
  margin-top: 10px; }

.first-paraghraph {
  color: #170307;
  font-size: 20px;
  line-height: 35px; }

.second-paraghraph {
  color: #42415B;
  font-size: 18px;
  line-height: 30px; }

.dropdown-toggle::after {
  display: none; }

@media screen and (max-width: 1024px) {
  .header-nav {
    justify-content: flex-end; }
    .header-nav #payments, .header-nav #claims {
      display: none; }
  .hero-wrapper .main-heading {
    text-align: center;
    font-size: 38px;
    line-height: 48px;
    padding: 0px 14px; }
  .hero-wrapper .main-subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 14px;
    margin-top: 40px; }
  .hero-wrapper .btn-container {
    display: table;
    margin: 0 auto; }
  .products-list {
    list-style: none;
    justify-content: center; }
  .products-title {
    font-size: 30px; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .quote-btn {
    height: 40px; }
  .header-row {
    padding: 10px 0px; }
  .product-item {
    margin-bottom: 20px;
    height: 140px;
    width: 210px; } }

@media screen and (max-width: 768px) {
  .logo-placeholder {
    height: 27px;
    width: 75px; }
  .phone-icon {
    width: 22px;
    height: 22px;
    cursor: pointer; }
  .header-row {
    padding: 9px 0px; }
  .quote-btn {
    height: 34px;
    width: 90px;
    font-family: robotomedium, sans-serif;
    letter-spacing: 0;
    font-size: 12px;
    line-height: 20px; }
  .hero-quote-btn {
    width: 290px; }
  .product-item {
    flex-direction: row;
    height: 60px;
    width: 75vw;
    margin-inline-end: 0;
    margin-bottom: 20px;
    justify-content: flex-start; }
  .product-name {
    margin-left: 25px;
    margin-top: 0; }
  .list-heading {
    margin-top: 10px; }
  .check-item {
    align-items: baseline; }
  .nav-list {
    display: block; }
  .nav-container {
    background-color: #fff;
    height: 100%; }
  #navbarNav {
    width: inherit;
    margin: 0 15px 25px; }
  .nav-list {
    margin: 0; }
    .nav-list .navbar-item {
      padding: 21px 0;
      border-bottom: 1px solid #BBBED0; }
    .nav-list .navbar-link {
      display: flex;
      width: inherit; }
    .nav-list .navbar-link,
    .nav-list .navbar-link:hover {
      color: #42415B; }
  .products-links {
    background-color: #fff;
    box-shadow: none;
    position: inherit;
    padding: 15px 0; }
    .products-links .product-link {
      font-size: 14px;
      margin-bottom: 5px; }
    .products-links .product-link,
    .products-links .product-link:hover {
      color: #7C809B; }
  .dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 12px; }
  .first,
  .second,
  .check-list {
    padding: 0; }
  .first-title {
    font-size: 30px;
    line-height: 48px; }
  .second-title {
    font-size: 22px;
    line-height: 37px; }
  .list-heading {
    font-size: 20px;
    line-height: 31px; }
  .phone-icon {
    position: relative; }
  #phone {
    position: absolute;
    background-color: white;
    padding: 10px 17px;
    border: 1px solid #42415b;
    border-radius: 5px;
    margin-left: -30px;
    margin-top: 30px; } }
